In [1]:
from sklearn import tree
import pandas as pd
import os

In [2]:
# Read the excel file into a pandas DataFrame

xlsx = pd.ExcelFile('final_df.xlsx')
final_df = pd.read_excel(xlsx)
final_df

,YearCountry,Country,Year,Gold,Silver,Bronze,Total,Athletes,Population,GDP,Latitude,Longitude,Altitude(meters),Host,Bins
0,2000Armenia,Armenia,2000,0,0,1,1,3,3169445,1.91,40.769627,44.673665,2359,0,1
1,2000Barbados,Barbados,2000,0,0,1,1,11,268906,2.56,13.193887,-59.543198,168,0,1
2,2000Cameroon,Cameroon,2000,1,0,0,1,11,15139138,10.08,4.612552,13.153811,667,0,1
3,2000Chile,Chile,2000,0,0,1,1,7,15411830,75.21,-31.761336,-71.318770,610,0,1
4,2000Colombia,Colombia,2000,1,0,0,1,11,43193863,15.95,2.889443,-73.783892,255,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,2004United States,United States,2004,36,39,26,101,140,293694333,11797.80,39.783730,-100.445882,829,0,4
502,2012United States,United States,2012,46,29,29,104,54,29123400,15094.00,39.783730,-100.445882,829,0,4
503,2008United States,United States,2008,36,39,37,112,121,313382000,14219.30,39.783730,-100.445882,829,0,4
504,2020United States,United States,2020,39,41,33,113,613,331002651,19485.39,39.783730,-100.445882,829,0,4
505,2016United States,United States,2016,46,37,38,121,554,321418820,18036.65,39.783730,-100.445882,829,0,4

In [3]:
inputs = ["Athletes", "GDP", 'Altitude(meters)', 'Host']
X = final_df[inputs]
y = final_df[["Bins"]]
print(X.shape, y.shape)

(506, 4) (506, 1)

In [4]:
# Split data into training and testing
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [5]:
#model = forest.fit(train_fold, train_y.values.ravel())

In [7]:
# Create the SVC Model
from sklearn.svm import SVC 
#model = SVC(kernel='linear')
model = SVC()
model

SVC()

In [8]:
 SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

SVC(decision_function_shape=None, gamma='auto', kernel='linear')

In [11]:
# Create the GridSearch estimator along with a parameter object containing the values to adjust
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [1],
             'gamma': [0.0001],
                'kernel': ['linear', 'rbf', 'poly']}

#param_grid = {'C': [1, 5, 10, 50],
#              'gamma': [0.0001, 0.0005, 0.001, 0.005],
#                'kernel': ['linear', 'rbf', 'poly']}
grid = GridSearchCV(model, param_grid, verbose=3)

In [ ]:
# Fit the model using the grid search estimator. 
# This will take the SVC model and try each combination of parameters
grid.fit(X_train, y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits
[CV] C=1, gamma=0.0001, kernel=linear ................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .... C=1, gamma=0.0001, kernel=linear, score=0.803, total= 2.6min
[CV] C=1, gamma=0.0001, kernel=linear ................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:  2.6min remaining:    0.0s
/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .... C=1, gamma=0.0001, kernel=linear, score=0.829, total= 1.8min
[CV] C=1, gamma=0.0001, kernel=linear ................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:  4.4min remaining:    0.0s
/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

[CV] .... C=1, gamma=0.0001, kernel=linear, score=0.763, total= 1.6min
[CV] C=1, gamma=0.0001, kernel=linear ................................

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [ ]:
 # List the best parameters for this dataset
print(grid.best_params_)

In [ ]:
 # List the best score
print(grid.best_score_)

In [ ]:
# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

In [ ]:
 # Calculate classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions,
                            target_names=["1", "2", "3", "4"]))